<nav>
  <div class="nav-container orange darken-4">
    <a href="/" class="logo">Subwaze</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <% if (user === 'not logged in') { %>
      <li class="li-nav"><a href="/">Home</a></li>
    <% } %>
    <% if (user !== 'not logged in') { %>
        <li class="li-nav"><a href="/user/">Profile</a></li>
    <% } %>
     <li class="li-nav"><a href="/trains">View All Trains</a></li>
    <% if (user !== 'not logged in') { %>
     <li class="li-nav"><a href="/user/logout">Logout</a></li>
    <% } %>
    <% if (user === 'not logged in') { %>
    <li class="li-nav"><a href="/auth/register">Home</a></li>
    <% } %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
    <% if (user === 'not logged in') { %>
      <li class="li-nav"><a href="/">Home</a></li>
    <% } %>
    <% if (user !== 'not logged in') { %>
      <li class="li-nav"><a href="/user/">Profile</a></li>
    <% } %>
     <li class="li-nav"><a href="/trains">View All Trains</a></li>
    <% if (user !== 'not logged in') { %>
     <li class="li-nav"><a href="/user/logout">Logout</a></li>
    <% } %>
    <% if (user === 'not logged in') { %>
    <li class="li-nav"><a href="/auth/register">Home</a></li>
    <% } %>
    </ul>

  </div>
</nav>

