<!DOCTYPE html>
<html>
<% include partials/head.ejs%>
  <body>

   <section>
      <video loop preload src="SubwazeEdit.mp4" autoplay poster=""></video>


    <div class="container valign center-align">
    <% include partials/header.ejs %>

    <div class="row">
      <div class="buttonLandingPage col s4 ">
        <span><a href="/trains" class="center-align">View Routes</a></span>
      </div>


    <div class="buttonLandingPage mid col s4 ">
        <a href="/auth/login" class="center-align">Log In</a>
      </div>



    <div class="buttonLandingPage col s4 ">
        <a href="/auth/register" class="center-align">Sign Up</a>
      </div>
    </div>


<% include partials/scripts.ejs %>
  </body>
</html>
