<!DOCTYPE html>
<html>
<% include partials/head.ejs%>
  <body>
    <% include partials/header.ejs %>
    <div class="container">
    <div class="center">
     <div class="size center-align button">
       <a class="waves-effect waves-light btn-large col s3" href="/trains"><i class="material-icons left">visibility</i>View Routes</a>
     </div>
     <div class="size center-align button">
        <a class="waves-effect waves-light btn-large col s3" href="/auth/login"><i class="material-icons left">perm_identity</i>Log In</a>
     </div>
     <div class="size center-align button">
       <a class="waves-effect waves-light btn-large" href="/auth/register"><i class="material-icons left">perm_identity</i>Sign Up</a>
     </div>
   </div>
   </div>




<% include partials/scripts.ejs %>
  </body>
</html>
