<!DOCTYPE html>
<html>
    <% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <center>
        <div class="train_line" style="
            width:200px;
            height:200px;
            border: 5px solid black;
            border-radius: 100%;
            line-height:200px;
            font-size: 150px;
            background-color: red;
            color:white;"> 2
        </div>
        <div class="train_status" style="width:200px; font-size:30px; color:green;">
            On Time
        </div>
        <div class="comment_list" style="width: 700px; border:5px solid black">
            <div class="comment">
                <span class="time">7:50 am</span>
                <p>
                    this is the comment posted by kev_run @ 7:50
                </p>
                <div class="user_name">kev_run11</div> <br />
                <span class="likes">Likes</span>
                <span class="dislike">Dislikes</span>
            </div>
        </div>
    </center>




  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  </body>
</html>
