<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<% include ../partials/header.ejs %>
<h2> Hello, <%= user.firstName %> </h2>
<% favs.forEach((fav) => { %>
    <div> <%= fav.line %> </div>
<% }) %>
</body>
</html>
