<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<% include ../partials/header.ejs %>
<h2> Hello, <%= user.firstName %> </h2>
<% favs.forEach((fav) => { %>
    <a href="/trains/<%= fav.id %>" id="<%= fav.id %>" class="btn-floating btn-large waves-effect waves-light yellow"><i class="material-icons"><%= fav.line %> </i></a>
<% }) %>
<button id="remove" onclick="remove()" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">delete</i></button>

<a href="/trains" class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">search</i></a>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script>
function remove(){
$('h2').html('Select a Line to remove from favorites list')
$('#remove').remove();
$('a').each(function(){
    $(this).wrap('<form id ="'+(this.id)+'fav" action="/user/delete/'+(this.id)+'?_method=DELETE" method="POST"></form>');
    //change href to perform javascript instead of referencing route created http://stackoverflow.com/questions/4674625/
    this.href='javascript:submitForm("'+this.id+'fav");'
    $('form').css('display', 'inline')
   
})
}
function submitForm(trainID){
    console.log( trainID)
    $('#'+trainID+'').submit()
}
</script>
</body>
</html>
